.checkbox-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
}

.checkbox-button-section {
  display: flex;
  flex-direction: column;

  gap: 20px;
  background-color: #ffffff;
  padding: 20px 30px; /* height: 300px; */
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: sans-serif;
  font-size: 18px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.select-all-button {
  background-color: #007bff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 400px;
  cursor: pointer;
  font-size: 16px;
}

.select-all-button:disabled {
  background: #d6d6d6;
}
